/* enrollment */

body {
    color: black;
    /* 文字色を黒に設定 */
    text-align: center;
    /* 全てのテキストを中央揃えに */
    overflow-x: hidden;
}


/* font-size */

#backToTop {
    color: white;
    text-shadow: 5px 5px 10px rgba(122, 155, 155);
    right: 60px;
}


/* -------------------------
    left header
  ------------------------- */

.header {
    position: fixed;
    top: 0;
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* ロゴとナビゲーション項目間のスペースを最大に */
    /* ナビゲーションバーの高さを指定 */
    z-index: 1000;
}

.navbar {
    display: flex;
    height: 100%;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
}

.navbar img {
    width: 100%;
    margin: 25px 0 20px 0;
    align-items: center;
}

.nav-pc-links ul {
    height: 300%;
    padding: 0;
    margin: 0;
    /* 中央揃えに */
    flex-direction: column;
    align-items: flex-start;
}

.nav-links ul li {
    list-style-type: none;
    display: flex;
    padding: 28px 0px;
    margin: 0vw;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.nav-links ul li a {
    color: black;
    padding: 0vw;
    text-decoration: none;
    transition: color 0.3s;
    /* 色の変化にアニメーション効果を追加 */
}


/* -------------------------
    /left header
  ------------------------- */


/* -------------------------
    phone header
  ------------------------- */

.nav-phone {
    background-color: #fff;
    position: fixed;
    top: 20px;
    right: 40px;
}

.offcanvas.offcanvas-end {
    width: 20%;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

.navbar-nav {
    align-items: flex-start;
}

.nav-item {
    padding: 10px 0;
}

.nav-phone ul li a {
    color: black;
    padding: 0 2px;
    text-decoration: none;
    transition: color 0.3s;
    /* 色の変化にアニメーション効果を追加 */
}

.nav-phone ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-phone ul li:hover::after {
    width: 80%;
}


/*
.nav-item {
    padding: 0 0 5px 0;
} */

.navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 9rem;
}

.dropdown-menu.show {
    padding-bottom: 10px;
    margin-bottom: 10px;
}


/* nav-icons */

.icons {
    padding-right: 10px;
}

.navbar ul li:hover .icons {
    color: green;
    transition: ease-in-out 0.5s;
}


/* -------------------------
    phone header
  ------------------------- */


/* -------------------------
    enrollment
  ------------------------- */

footer {
    margin: 0 0 0 100px;
}

.enrollment {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 0 0 190px;
}

.enrollment h2 {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.enrollment h2 i {
    color: rgb(2, 255, 107);
}

.enrollment h2::after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    display: block;
    margin: 0 0 0px 0;
}

.row {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.en-sec {
    background: linear-gradient(159deg, rgba(255, 255, 255, 0.9) 40%, rgba(25, 200, 255, 0.9) 100%);
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.mycol {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.1);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.mycol:hover {
    scale: 1.05;
}


/* -------------------------
    /enrollment
  ------------------------- */


/* -------------------------
    enrollment-process
  ------------------------- */

.process-col {
    background: white;
    width: 20%;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.process-col:hover {
    box-shadow: 0px 0px 0px black;
    transition: .3s;
    scale: 1;
}

.process-col h4 {
    border-bottom: 1px solid #a4a8d4;
    /* 区切り線 */
    margin-bottom: 10px;
}

.next-icon {
    position: absolute;
    top: 285px;
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-caret-down {
    font-size: 100px;
    /* padding: 0 127px; */
    color: white;
    transform: rotate(270deg);
    /* 45度右回転 */
    cursor: pointer;
    text-shadow: 1px 1px 6px rgba(0, 0, 0);
    z-index: 2;
}

.process-col p {
    padding: 0 2px;
}

.process-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.girl {
    transform: scaleX(-1);
}

.process-image {
    width: 45%;
}


/* -------------------------
    course-excuse
  ------------------------- */

.course-excuse h3 {
    margin: 0px 0 20px 0;
}

.course-excuse h5 {
    margin: 0px 0 20px 0;
}

.course-row {
    width: 70%;
}

.course-col {
    background: white;
    width: 30%;
    margin: 0px 1px 0px 0px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    transition: 1s;
    height: max-content;
}

.course-col h3 {
    margin: 5px 0;
    border-bottom: 1px solid #a4a8d4;
    /* 区切り線 */
}

.course-col p {
    margin-bottom: 20px;
}

.course-col .paying {
    margin-bottom: 0
}

.course-col01 {
    background: rgba(248, 248, 248, 0.9);
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.course-col01:hover {
    scale: 1.05;
}

.course-col02:hover {
    scale: 1.07;
}


/* イラストのようなボタン */

.course-btn {
    background: #6bb6ff;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #003067;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border: 2px solid #000;
    z-index: 1;
    border-radius: 5px;
}

.course-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #6bb6ff;
    z-index: -1;
    border: 2px solid #000;
    border-radius: 5px;
}

.course-btn::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translate3d(0, 0.40rem, -1rem);
    transform: translate3d(0, 0.40rem, -1rem);
    border: 2px solid #000;
    border-radius: inherit;
    background: #2b7fde;
    -webkit-box-shadow: 0 0.6rem 0 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0.4rem 0 0 rgb(0 0 0 / 20%);
    z-index: -2;
}

.course-btn i {
    position: absolute;
    right: 9px;
}

.course-btn:hover {
    transform: translate3d(0, 0.2rem, -1rem);
}

.course-btn:hover:after {
    transform: translate3d(0, 0.2rem, -1rem);
    box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
}


/* -------------------------
    membership-term
  ------------------------- */

.membership-terms h3 {
    margin: 0px 0 20px 0;
}

.membership-terms h4 {
    margin: 30px 0 10px 0;
}

.membership-col {
    background: white;
    width: 25%;
    margin: 0px 1px 0px 0px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.fa-angles-down {
    margin-left: 10px;
}

.p-mention {
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
}


/* -------------------------
    /membership-term
  ------------------------- */


/* -------------------------
    enrollment-faq
  ------------------------- */

.enrollment-faq h2 {
    width: 30%;
}

.enrollment-faq h4 {
    width: 80%;
    display: flex;
}

.row04 {
    flex-direction: column;
    align-items: center;
}

.faq-col {
    width: 80%;
    margin: 15px 0 20px 0;
    padding: 10px 10px 20px 10px;
    background: white;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.accordion {
    width: 100%;
}

.faq-col:hover {
    scale: 1;
}


/* -------------------------
    /enrollment-faq
  ------------------------- */


/*-----------------------------

    レスポンシブデザインの調整

------------------------------*/


/* Dell */

@media (max-width: 1440px) {
    /* -------------------------
        left header
      ------------------------- */
    .header {
        width: 12%;
    }
    .navbar {
        height: 100%;
        padding: 0;
    }
    .navbar img {
        width: 100%;
        margin: 25px 0 0px 0;
    }
    .nav-pc-links ul {
        height: 300%;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .nav-links ul li {
        padding: 28px 0px;
        margin: 0vw;
    }
    .nav-links ul li a {
        padding: 0vw;
    }
    /* -------------------------
        /left header
      ------------------------- */
    /* -------------------------
        phone header
      ------------------------- */
    .nav-phone {
        background-color: #fff;
        position: fixed;
        top: 20px;
        right: 40px;
    }
    .offcanvas.offcanvas-end {
        width: 20%;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
        overflow-y: auto;
    }
    .navbar-nav {
        align-items: flex-start;
    }
    .nav-item {
        padding: 10px 0;
    }
    .nav-phone ul li a {
        color: black;
        padding: 0 2px;
        text-decoration: none;
        transition: color 0.3s;
        /* 色の変化にアニメーション効果を追加 */
    }
    .nav-phone ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-phone ul li:hover::after {
        width: 80%;
    }
    /*
    .nav-item {
        padding: 0 0 5px 0;
    } */
    .navbar-nav .dropdown-menu {
        position: absolute;
        min-width: 9rem;
    }
    .dropdown-menu.show {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    /* nav-icons */
    .icons {
        padding-right: 10px;
    }
    .navbar ul li:hover .icons {
        color: green;
        transition: ease-in-out 0.5s;
    }
    /* -------------------------
        phone header
      ------------------------- */
    /* -------------------------
        enrollment
      ------------------------- */
    footer {
        margin: 0 0 0 40px;
    }
    .enrollment {
        width: 90%;
        margin: 0 0 0 150px;
    }
    .enrollment h2 {
        width: 20%;
        margin: 10px 0 20px 0;
    }
    .enrollment h2::after {
        width: 100%;
        height: 2px;
        margin: 0 0 0px 0;
    }
    .en-sec {
        background: linear-gradient(159deg, rgba(255, 255, 255, 0.9) 40%, rgba(25, 200, 255, 0.9) 100%);
        width: 99%;
        padding-bottom: 40px;
    }
    .mycol {
        border: 2px solid rgba(128, 128, 128, 0.1);
        box-shadow: 8px 8px 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
    }
    .mycol:hover {
        scale: 1.04;
    }
    /* -------------------------
        /enrollment
      ------------------------- */
    /* -------------------------
        enrollment-process
      ------------------------- */
    .process-col {
        width: 20%;
        padding-bottom: 5px;
    }
    .process-col h4 {
        border-bottom: 1px solid #a4a8d4;
        margin-bottom: 10px;
    }
    .next-icon {
        position: absolute;
        top: 287px;
        width: 82%;
        padding: 0 4px 0 0;
    }
    .fa-caret-down {
        font-size: 100px;
        transform: rotate(270deg);
        /* 45度右回転 */
        text-shadow: 1px 1px 6px rgba(0, 0, 0);
        z-index: 2;
    }
    .process-col p {
        padding: 0 2px;
    }
    .process-images {
        margin: 20px 0 0 0;
    }
    .girl {
        transform: scaleX(-1);
    }
    .process-image {
        width: 44%;
    }
    /* -------------------------
        course-excuse
      ------------------------- */
    .course-excuse h3 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h5 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h4 {
        margin: 0px 0 15px 0;
    }
    .course-col {
        width: 25%;
        margin: 0px 1px 0px 0px;
        padding-bottom: 30px;
    }
    .course-col h3 {
        margin: 5px 0;
        border-bottom: 1px solid #a4a8d4;
        /* 区切り線 */
    }
    .course-col p {
        margin-bottom: 15px;
    }
    .course-col .paying {
        margin-bottom: 0
    }
    .course-col01:hover {
        scale: 1.05;
    }
    .course-col02:hover {
        scale: 1.07;
    }
    /* イラストのようなボタン */
    .course-btn {
        border-radius: 3px;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #003067;
        border: 1px solid #000;
    }
    .course-btn::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #6bb6ff;
        z-index: -1;
        border: 1px solid #000;
        border-radius: 5px;
    }
    .course-btn::after {
        border: 1px solid #000;
    }
    .course-btn i {
        position: absolute;
        right: 9px;
    }
    .course-btn:hover {
        transform: translate3d(0, 0.2rem, -1rem);
    }
    .course-btn:hover:after {
        transform: translate3d(0, 0.2rem, -1rem);
        box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
    }
    /* -------------------------
        membership-term
      ------------------------- */
    .membership-terms h3 {
        margin: 0px 0 15px 0;
    }
    .membership-terms h5 {
        margin: 0px 0 10px 0;
    }
    .membership-terms h4 {
        font-size: 1.4rem;
        margin: 0px 0 10px 0;
    }
    .membership-col {
        width: 25%;
        margin: 0px 0px 0px 0px;
        padding-bottom: 40px;
        margin-bottom: 30px;
        transition: 1s;
    }
    .fa-angles-down {
        margin-left: 5px;
    }
    .p-mention {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
    }
    /* -------------------------
        /membership-term
      ------------------------- */
    /* -------------------------
        enrollment-faq
      ------------------------- */
    .enrollment-faq h2 {
        width: 30%;
    }
    .faq-c8l {
        width: 40%;
        margin: 15px 0 20px 0;
        padding: 10px 10px 20px 10px;
    }
    .accordion {
        width: 100%;
    }
    .faq-col:hover {
        scale: 1;
    }
    /* -------------------------
        /enrollment-faq
      ------------------------- */
}


/* MacBookAir  */

@media (max-width: 1280px) {
    /* -------------------------
        left header
      ------------------------- */
    .header {
        width: 12%;
    }
    .navbar {
        height: 100%;
        padding: 0;
    }
    .navbar img {
        width: 100%;
        margin: 25px 0 0px 0;
    }
    .nav-pc-links ul {
        height: 300%;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .nav-links ul li {
        padding: 28px 0px;
        margin: 0vw;
    }
    .nav-links ul li a {
        padding: 0vw;
    }
    /* -------------------------
        /left header
      ------------------------- */
    /* -------------------------
        phone header
      ------------------------- */
    .nav-phone {
        background-color: #fff;
        position: fixed;
        top: 20px;
        right: 40px;
    }
    .offcanvas.offcanvas-end {
        width: 20%;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
        overflow-y: auto;
    }
    .navbar-nav {
        align-items: flex-start;
    }
    .nav-item {
        padding: 10px 0;
    }
    .nav-phone ul li a {
        color: black;
        padding: 0 2px;
        text-decoration: none;
        transition: color 0.3s;
        /* 色の変化にアニメーション効果を追加 */
    }
    .nav-phone ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-phone ul li:hover::after {
        width: 80%;
    }
    /*
    .nav-item {
        padding: 0 0 5px 0;
    } */
    .navbar-nav .dropdown-menu {
        position: absolute;
        min-width: 9rem;
    }
    .dropdown-menu.show {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    /* nav-icons */
    .icons {
        padding-right: 10px;
    }
    .navbar ul li:hover .icons {
        color: green;
        transition: ease-in-out 0.5s;
    }
    /* -------------------------
        phone header
      ------------------------- */
    /* -------------------------
        enrollment
      ------------------------- */
    footer {
        margin: 0 0 0 40px;
    }
    .enrollment {
        width: 90%;
        margin: 0 0 0 145px;
    }
    .enrollment h2 {
        width: 22%;
        margin: 10px 0 20px 0;
    }
    .enrollment h2::after {
        width: 100%;
        height: 2px;
        margin: 0 0 0px 0;
    }
    .en-sec {
        background: linear-gradient(159deg, rgba(255, 255, 255, 0.9) 40%, rgba(25, 200, 255, 0.9) 100%);
        width: 99%;
        padding-bottom: 40px;
    }
    .mycol {
        border: 2px solid rgba(128, 128, 128, 0.1);
        box-shadow: 8px 8px 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
    }
    .mycol:hover {
        scale: 1.04;
    }
    /* -------------------------
        /enrollment
      ------------------------- */
    /* -------------------------
        enrollment-process
      ------------------------- */
    .process-col {
        width: 20%;
        padding-bottom: 5px;
    }
    .process-col h4 {
        border-bottom: 1px solid #a4a8d4;
        margin-bottom: 10px;
    }
    .next-icon {
        position: absolute;
        top: 287px;
        width: 82%;
        padding: 0 4px 0 0;
    }
    .fa-caret-down {
        font-size: 100px;
        transform: rotate(270deg);
        /* 45度右回転 */
        text-shadow: 1px 1px 6px rgba(0, 0, 0);
        z-index: 2;
    }
    .process-col p {
        padding: 0 2px;
    }
    .process-images {
        margin: 20px 0 0 0;
    }
    .girl {
        transform: scaleX(-1);
    }
    .process-image {
        width: 44%;
    }
    /* -------------------------
        course-excuse
      ------------------------- */
    .course-excuse h3 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h5 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h4 {
        margin: 0px 0 15px 0;
    }
    .course-col {
        width: 25%;
        margin: 0px 1px 0px 0px;
        padding-bottom: 30px;
    }
    .course-col h3 {
        margin: 5px 0;
        border-bottom: 1px solid #a4a8d4;
        /* 区切り線 */
    }
    .course-col p {
        margin-bottom: 15px;
    }
    .course-col .paying {
        margin-bottom: 0
    }
    /* イラストのようなボタン */
    .course-btn {
        border-radius: 3px;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #003067;
        border: 1px solid #000;
    }
    .course-btn::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #6bb6ff;
        z-index: -1;
        border: 1px solid #000;
        border-radius: 5px;
    }
    .course-btn::after {
        border: 1px solid #000;
    }
    .course-btn i {
        position: absolute;
        right: 9px;
    }
    .course-btn:hover {
        transform: translate3d(0, 0.2rem, -1rem);
    }
    .course-btn:hover:after {
        transform: translate3d(0, 0.2rem, -1rem);
        box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
    }
    /* -------------------------
        membership-term
      ------------------------- */
    .membership-terms h3 {
        margin: 0px 0 15px 0;
    }
    .membership-terms h5 {
        margin: 0px 0 10px 0;
    }
    .membership-terms h4 {
        font-size: 1.4rem;
        margin: 0px 0 10px 0;
    }
    .membership-col {
        width: 30%;
        margin: 0px 0px 0px 0px;
        padding-bottom: 40px;
        margin-bottom: 30px;
        transition: 1s;
    }
    .fa-angles-down {
        margin-left: 5px;
    }
    .p-mention {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
    }
    /* -------------------------
        /membership-term
      ------------------------- */
    /* -------------------------
        enrollment-faq
      ------------------------- */
    .enrollment-faq h2 {
        width: 40%;
    }
    .faq-c8l {
        width: 40%;
        margin: 15px 0 20px 0;
        padding: 10px 10px 20px 10px;
    }
    .accordion {
        width: 100%;
    }
    .faq-col:hover {
        scale: 1;
    }
    /* -------------------------
        /enrollment-faq
      ------------------------- */
}


/* iPad Pro 11 横 */

@media (max-width: 1194px) {
    /* -------------------------
        left header
      ------------------------- */
    .header {
        width: 12%;
    }
    .navbar {
        height: 100%;
        padding: 0;
    }
    .navbar img {
        width: 100%;
        margin: 25px 0 0px 0;
    }
    .nav-pc-links ul {
        height: 300%;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .nav-links ul li {
        padding: 28px 0px;
        margin: 0vw;
    }
    .nav-links ul li a {
        padding: 0vw;
    }
    /* -------------------------
        /left header
      ------------------------- */
    /* -------------------------
        phone header
      ------------------------- */
    .nav-phone {
        background-color: #fff;
        position: fixed;
        top: 20px;
        right: 40px;
    }
    .offcanvas.offcanvas-end {
        width: 20%;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
        overflow-y: auto;
    }
    .navbar-nav {
        align-items: flex-start;
    }
    .nav-item {
        padding: 10px 0;
    }
    .nav-phone ul li a {
        color: black;
        padding: 0 2px;
        text-decoration: none;
        transition: color 0.3s;
        /* 色の変化にアニメーション効果を追加 */
    }
    .nav-phone ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-phone ul li:hover::after {
        width: 80%;
    }
    /*
    .nav-item {
        padding: 0 0 5px 0;
    } */
    .navbar-nav .dropdown-menu {
        position: absolute;
        min-width: 9rem;
    }
    .dropdown-menu.show {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    /* nav-icons */
    .icons {
        padding-right: 10px;
    }
    .navbar ul li:hover .icons {
        color: green;
        transition: ease-in-out 0.5s;
    }
    /* -------------------------
        phone header
      ------------------------- */
    /* -------------------------
        enrollment
      ------------------------- */
    footer {
        margin: 0 0 0 40px;
    }
    .enrollment {
        width: 90%;
        margin: 0 0 0 130px;
    }
    .enrollment h2 {
        width: 30%;
        margin: 10px 0 15px 0;
    }
    .enrollment h2::after {
        width: 100%;
        height: 2px;
        margin: 0 0 0px 0;
    }
    .en-sec {
        background: linear-gradient(159deg, rgba(255, 255, 255, 0.9) 40%, rgba(25, 200, 255, 0.9) 100%);
        width: 99%;
        padding-bottom: 30px;
    }
    .mycol {
        border: 2px solid rgba(128, 128, 128, 0.1);
        box-shadow: 8px 8px 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
    }
    .mycol:hover {
        scale: 1.04;
    }
    /* -------------------------
        /enrollment
      ------------------------- */
    /* -------------------------
        enrollment-process
      ------------------------- */
    .process-col {
        width: 20%;
        padding-bottom: 5px;
    }
    .process-col h4 {
        border-bottom: 1px solid #a4a8d4;
        margin-bottom: 10px;
    }
    .next-icon {
        position: absolute;
        top: 287px;
        width: 81%;
        padding: 0 4px 0 0;
    }
    .fa-caret-down {
        font-size: 80px;
        transform: rotate(270deg);
        /* 45度右回転 */
        text-shadow: 1px 1px 6px rgba(0, 0, 0);
        z-index: 2;
    }
    .process-col p {
        padding: 0 2px;
    }
    .process-images {
        margin: 20px 0 0 0;
    }
    .girl {
        transform: scaleX(-1);
    }
    .process-image {
        width: 44%;
    }
    /* -------------------------
        course-excuse
      ------------------------- */
    .course-excuse h3 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h5 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h4 {
        margin: 0px 0 15px 0;
    }
    .course-col {
        width: 25%;
        margin: 0px 1px 0px 0px;
        padding-bottom: 30px;
    }
    .course-col h3 {
        margin: 5px 0;
        border-bottom: 1px solid #a4a8d4;
        /* 区切り線 */
    }
    .course-col p {
        margin-bottom: 15px;
    }
    .course-col .paying {
        margin-bottom: 0
    }
    /* イラストのようなボタン */
    .course-btn {
        border-radius: 3px;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #003067;
        border: 1px solid #000;
    }
    .course-btn::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #6bb6ff;
        z-index: -1;
        border: 1px solid #000;
        border-radius: 5px;
    }
    .course-btn::after {
        border: 1px solid #000;
    }
    .course-btn i {
        position: absolute;
        right: 9px;
    }
    .course-btn:hover {
        transform: translate3d(0, 0.2rem, -1rem);
    }
    .course-btn:hover:after {
        transform: translate3d(0, 0.2rem, -1rem);
        box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
    }
    /* -------------------------
        membership-term
      ------------------------- */
    .membership-terms h3 {
        margin: 0px 0 15px 0;
    }
    .membership-terms h5 {
        margin: 0px 0 10px 0;
    }
    .membership-terms h4 {
        font-size: 1.4rem;
        margin: 0px 0 10px 0;
    }
    .membership-col {
        width: 30%;
        margin: 0px 0px 0px 0px;
        padding-bottom: 40px;
        margin-bottom: 30px;
        transition: 1s;
    }
    .fa-angles-down {
        margin-left: 5px;
    }
    .p-mention {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
    }
    /* -------------------------
        /membership-term
      ------------------------- */
    /* -------------------------
        enrollment-faq
      ------------------------- */
    .enrollment-faq h2 {
        width: 40%;
    }
    .faq-c8l {
        width: 40%;
        margin: 15px 0 20px 0;
        padding: 10px 10px 20px 10px;
    }
    .accordion {
        width: 100%;
    }
    .faq-col:hover {
        scale: 1;
    }
    /* -------------------------
        /enrollment-faq
      ------------------------- */
}


/* iPad Mini 横 */

@media (max-width: 1024px) {
    /* -------------------------
        left header
      ------------------------- */
    .header {
        width: 13%;
    }
    .navbar {
        height: 100%;
        padding: 0;
    }
    .navbar img {
        width: 100%;
        margin: 25px 0 0px 0;
    }
    .nav-pc-links ul {
        height: 300%;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .nav-links ul li {
        padding: 28px 0px;
        margin: 0vw;
    }
    .nav-links ul li a {
        padding: 0vw;
    }
    /* -------------------------
        /left header
      ------------------------- */
    /* -------------------------
        phone header
      ------------------------- */
    .nav-phone {
        background-color: #fff;
        position: fixed;
        top: 20px;
        right: 40px;
    }
    .offcanvas.offcanvas-end {
        width: 20%;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
        overflow-y: auto;
    }
    .navbar-nav {
        align-items: flex-start;
    }
    .nav-item {
        padding: 10px 0;
    }
    .nav-phone ul li a {
        color: black;
        padding: 0 2px;
        text-decoration: none;
        transition: color 0.3s;
        /* 色の変化にアニメーション効果を追加 */
    }
    .nav-phone ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-phone ul li:hover::after {
        width: 80%;
    }
    /*
    .nav-item {
        padding: 0 0 5px 0;
    } */
    .navbar-nav .dropdown-menu {
        position: absolute;
        min-width: 9rem;
    }
    .dropdown-menu.show {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    /* nav-icons */
    .icons {
        padding-right: 10px;
    }
    .navbar ul li:hover .icons {
        color: green;
        transition: ease-in-out 0.5s;
    }
    /* -------------------------
        phone header
      ------------------------- */
    /* -------------------------
        enrollment
      ------------------------- */
    footer {
        margin: 0 0 0 40px;
    }
    .enrollment {
        width: 90%;
        margin: 0 0 0 120px;
    }
    .enrollment h2 {
        width: 30%;
        margin: 5px 0 10px 0;
    }
    .enrollment h2::after {
        width: 100%;
        height: 2px;
        margin: 0 0 0px 0;
    }
    .en-sec {
        background: linear-gradient(159deg, rgba(255, 255, 255, 0.9) 40%, rgba(25, 200, 255, 0.9) 100%);
        width: 99%;
        padding-bottom: 30px;
    }
    .mycol {
        border: 2px solid rgba(128, 128, 128, 0.1);
        box-shadow: 8px 8px 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
    }
    .mycol:hover {
        scale: 1.04;
    }
    /* -------------------------
        /enrollment
      ------------------------- */
    /* -------------------------
        enrollment-process
      ------------------------- */
    .process-col {
        width: 20%;
        padding-bottom: 5px;
    }
    .process-col h4 {
        border-bottom: 1px solid #a4a8d4;
        margin-bottom: 10px;
    }
    .next-icon {
        position: absolute;
        top: 287px;
        width: 81%;
        padding: 0 4px 0 0;
    }
    .fa-caret-down {
        font-size: 80px;
        transform: rotate(270deg);
        /* 45度右回転 */
        text-shadow: 1px 1px 6px rgba(0, 0, 0);
        z-index: 2;
    }
    .process-col p {
        padding: 0 2px;
    }
    .process-images {
        margin: 20px 0 0 0;
    }
    .girl {
        transform: scaleX(-1);
    }
    .process-image {
        width: 44%;
    }
    /* -------------------------
        course-excuse
      ------------------------- */
    .course-excuse h3 {
        margin: 0px 0 10px 0;
    }
    .course-excuse h5 {
        margin: 0px 0 15px 0;
    }
    .course-excuse h4 {
        margin: 0px 0 15px 0;
    }
    .course-col {
        width: 25%;
        margin: 0px 1px 0px 0px;
        padding-bottom: 30px;
    }
    .course-col h3 {
        margin: 5px 0;
        border-bottom: 1px solid #a4a8d4;
        /* 区切り線 */
    }
    .course-col p {
        margin-bottom: 15px;
    }
    .course-col .paying {
        margin-bottom: 0
    }
    /* イラストのようなボタン */
    .course-btn {
        border-radius: 3px;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #003067;
        border: 1px solid #000;
    }
    .course-btn::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #6bb6ff;
        z-index: -1;
        border: 1px solid #000;
        border-radius: 5px;
    }
    .course-btn::after {
        border: 1px solid #000;
    }
    .course-btn i {
        position: absolute;
        right: 9px;
    }
    .course-btn:hover {
        transform: translate3d(0, 0.2rem, -1rem);
    }
    .course-btn:hover:after {
        transform: translate3d(0, 0.2rem, -1rem);
        box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
    }
    /* -------------------------
        membership-term
      ------------------------- */
    .membership-terms h3 {
        margin: 0px 0 15px 0;
    }
    .membership-terms h5 {
        margin: 0px 0 10px 0;
    }
    .membership-terms h4 {
        font-size: 1.4rem;
        margin: 0px 0 10px 0;
    }
    .membership-col {
        width: 36%;
        margin: 0px 0px 0px 0px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        transition: 1s;
    }
    .fa-angles-down {
        margin-left: 5px;
    }
    .p-mention {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
    }
    /* -------------------------
        /membership-term
      ------------------------- */
    /* -------------------------
        enrollment-faq
      ------------------------- */
    .enrollment-faq h2 {
        width: 40%;
    }
    .faq-col {
        width: 80%;
        margin: 10px 0;
        padding: 10px 10px 20px 10px;
    }
    .accordion {
        width: 100%;
    }
    .faq-col:hover {
        scale: 1;
    }
    /* -------------------------
        /enrollment-faq
      ------------------------- */
}


/* iPhone 15PRO MAX 横  Humburger*/

@media (max-width: 932px) {
    /* enrollment */
    body {
        color: black;
        /* 文字色を黒に設定 */
        text-align: center;
        /* 全てのテキストを中央揃えに */
        overflow-x: hidden;
    }
    /* font-size */
    #backToTop {
        color: white;
        text-shadow: 5px 5px 10px rgba(122, 155, 155);
        right: 60px;
    }
    /* -------------------------
        left header
      ------------------------- */
    .header {
        position: fixed;
        top: 0;
        width: 12%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* ロゴとナビゲーション項目間のスペースを最大に */
        /* ナビゲーションバーの高さを指定 */
        z-index: 1000;
    }
    .navbar {
        display: flex;
        height: 100%;
        padding: 0;
        justify-content: flex-start;
        flex-direction: column;
    }
    .navbar img {
        width: 100%;
        margin: 10px;
        align-items: center;
    }
    .nav-pc-links ul {
        height: 300%;
        padding: 0;
        margin: 0;
        /* 中央揃えに */
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul li {
        list-style-type: none;
        display: flex;
        padding: 28px 0px;
        margin: 0vw;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .nav-links ul li::marker {
        display: none;
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: unset;
    }
    .nav-links ul li a {
        color: black;
        padding: 0vw;
        text-decoration: none;
        transition: color 0.3s;
        /* 色の変化にアニメーション効果を追加 */
    }
    /* -------------------------
        /left header
      ------------------------- */
    /* -------------------------
        phone header
      ------------------------- */
    .nav-phone {
        background-color: #fff;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .offcanvas.offcanvas-end {
        width: 20%;
    }
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
        overflow-y: auto;
    }
    .navbar-nav {
        align-items: flex-start;
    }
    .nav-item {
        padding: 10px 0;
    }
    .nav-phone ul li a {
        color: black;
        padding: 0 2px;
        text-decoration: none;
        transition: color 0.3s;
        /* 色の変化にアニメーション効果を追加 */
    }
    .nav-phone ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-phone ul li:hover::after {
        width: 80%;
    }
    /*
    .nav-item {
        padding: 0 0 5px 0;
    } */
    .navbar-nav .dropdown-menu {
        position: absolute;
        min-width: 9rem;
    }
    .dropdown-menu.show {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    /* nav-icons */
    .icons {
        padding-right: 10px;
    }
    .navbar ul li:hover .icons {
        color: green;
        transition: ease-in-out 0.5s;
    }
    /* -------------------------
        phone header
      ------------------------- */
    /* -------------------------
        enrollment
      ------------------------- */
    footer {
        margin: 0 0 0 100px;
    }
    .enrollment {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .enrollment h2 {
        width: 25%;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .enrollment h2 i {
        color: rgb(2, 255, 107);
    }
    .enrollment h2::after {
        content: '';
        width: 100%;
        height: 2px;
        background: black;
        display: block;
        margin: 0 0 0px 0;
    }
    .row {
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .en-sec {
        background: linear-gradient(159deg, rgba(255, 255, 255, 0.9) 40%, rgba(25, 200, 255, 0.9) 100%);
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .mycol {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgba(128, 128, 128, 0.1);
        box-shadow: 8px 8px 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
    }
    .mycol:hover {
        scale: 1.05;
    }
    /* -------------------------
        /enrollment
      ------------------------- */
    /* -------------------------
        enrollment-process
      ------------------------- */
    .process-col {
        background: white;
        width: 20%;
        padding-bottom: 10px;
        position: relative;
        overflow: hidden;
        transition: 1s;
    }
    .process-col:hover {
        box-shadow: 0px 0px 0px black;
        transition: .3s;
        scale: 1;
    }
    .process-col h4 {
        border-bottom: 1px solid #a4a8d4;
        /* 区切り線 */
        margin-bottom: 10px;
    }
    .next-icon {
        position: absolute;
        top: 210px;
        width: 89%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .fa-caret-down {
        font-size: 100px;
        /* padding: 0 127px; */
        color: white;
        transform: rotate(270deg);
        /* 45度右回転 */
        cursor: pointer;
        text-shadow: 1px 1px 6px rgba(0, 0, 0);
        z-index: 2;
    }
    .process-col p {
        padding: 0 2px;
    }
    .process-images {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .girl {
        transform: scaleX(-1);
    }
    .process-image {
        width: 45%;
    }
    /* -------------------------
        course-excuse
      ------------------------- */
    .course-excuse h3 {
        margin: 0px 0 10px 0;
    }
    .course-excuse h5 {
        margin: 0px 0 10px 0;
        width: 86%;
    }
    .course-row {
        width: 70%;
    }
    .course-col {
        background: white;
        width: 40%;
        margin: 0px 1px 0px 0px;
        padding-bottom: 15px;
        position: relative;
        overflow: hidden;
        transition: 1s;
        height: max-content;
    }
    .course-col h3 {
        margin: 5px 0;
        border-bottom: 1px solid #a4a8d4;
        /* 区切り線 */
    }
    .course-col p {
        margin-bottom: 15px;
    }
    .course-col .paying {
        margin-bottom: 0
    }
    .course-col01 {
        background: rgba(248, 248, 248, 0.9);
        position: relative;
        overflow: hidden;
        transition: 1s;
    }
    .course-col01:hover {
        scale: 1.05;
    }
    .course-col02:hover {
        scale: 1.07;
    }
    /* イラストのようなボタン */
    .course-btn {
        background: #6bb6ff;
        border-radius: 3px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #003067;
        transition: 0.3s ease-in-out;
        font-weight: 600;
        border: 2px solid #000;
        z-index: 1;
        border-radius: 5px;
    }
    .course-btn::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: #6bb6ff;
        z-index: -1;
        border: 2px solid #000;
        border-radius: 5px;
    }
    .course-btn::after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: '';
        -webkit-transition: all .3s;
        transition: all .3s;
        -webkit-transform: translate3d(0, 0.40rem, -1rem);
        transform: translate3d(0, 0.40rem, -1rem);
        border: 2px solid #000;
        border-radius: inherit;
        background: #2b7fde;
        -webkit-box-shadow: 0 0.6rem 0 0 rgb(0 0 0 / 20%);
        box-shadow: 0 0.4rem 0 0 rgb(0 0 0 / 20%);
        z-index: -2;
    }
    .course-btn i {
        position: absolute;
        right: 9px;
    }
    .course-btn:hover {
        transform: translate3d(0, 0.2rem, -1rem);
    }
    .course-btn:hover:after {
        transform: translate3d(0, 0.2rem, -1rem);
        box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
    }
    /* -------------------------
        membership-term
      ------------------------- */
    .membership-terms h3 {
        margin: 0px 0 20px 0;
    }
    .membership-terms h4 {
        margin: 30px 0 10px 0;
    }
    .membership-col {
        background: white;
        width: 25%;
        margin: 0px 1px 0px 0px;
        padding-bottom: 40px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        transition: 1s;
    }
    .fa-angles-down {
        margin-left: 10px;
    }
    .p-mention {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;
    }
    /* -------------------------
        /membership-term
      ------------------------- */
    /* -------------------------
        enrollment-faq
      ------------------------- */
    .enrollment-faq h2 {
        width: 30%;
    }
    .row04 {
        flex-direction: column;
        align-items: center;
    }
    .faq-col {
        width: 80%;
        margin: 0px 0 20px 0;
        padding: 10px 10px 20px 10px;
        background: white;
        position: relative;
        overflow: hidden;
        transition: 1s;
    }
    .accordion {
        width: 100%;
    }
    .faq-col:hover {
        scale: 1;
    }
}


/* iPhone 13Pro 横 */

@media (max-width: 844px) {}


/* iPad Pro 11  */

@media (max-width: 834px) {}


/* iPad Mini */

@media (max-width: 768px) {}


/* iPhone 15PRO MAX  */

@media (max-width: 430px) {}


/* iPhone 13Pro */

@media (max-width: 390px) {}